body,
html {
    height: 100%;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.bg {
    background-color: black;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url('./static/images/bg.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;

    /*
    filter: blur(6px);
  -webkit-filter: blur(6px);
*/
}

.navbar {
    display: flex;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    padding: 20px;
    position: fixed;
    z-index: 1;
}

.tabs {
    margin-left: 30px;
    /*
padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
*/
    float: left;
    overflow: hidden;
    border-style: solid;
    border-color: #c40202;
}

.drop-content {
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    color: aqua;
    display: none;
    margin-top: 2px;
}

.drop-content .link {
    display: block;
    text-align: left;
    padding: 10px;
}

.tabs:hover .drop-content {
    display: block;
}

.tabs:hover {
    background-color: #c40202;
}

.tabs:hover .link {
    color: white;
}

.drop-content .link:hover {
    background-color: rgba(110, 110, 110, 0.4);
}

.link {
    display: table-cell;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #c40202;
    text-decoration: none;
}

.title-logo {
    letter-spacing: 6px;
    border-style: solid;
    border-color: #c40202;
    width: 640px;

}

.title-logo span {
    display: block;
    width: inherit;
    height: inherit;
    color: #c40202;
    font-size: 30px;
    text-align: center;
}

.title-logo span span {
    display: inline;
    color: #0835ff;
}

.welcome-con {
    display: flex;
    position: absolute;
    height: auto;
    width: 95%;
    top: 27%;
    padding: 10px;
    left: 1%;

}


.welcome-con p {
    font-weight: 800;
    font-size: 50px;
    letter-spacing: 6px;
    text-align: center;
    padding-top: 40px;
    color: white;
}

.welcome-con p :nth-child(1) {
    color: red;
}

.welcome-con p :nth-child(2) {
    color: blue;
}

.welcome-con p :nth-child(3) {
    letter-spacing: 2px;
    color: white;
    font-weight: 400;
    font-size: 30px;
    display: block;
    padding-top: 80px;
}

.welcome-con img {
    width: 400px;
    height: 300px;
    text-align: center;
}


section {
    position: relative;
    width: 100%;
}

.full {
    height: 100vh;
}

.content {
    padding-top: 80px;
}

.content h1 {
    color: white;
    font-weight: 800;
    padding: 20px;
    padding-bottom: 40px;
    font-size: 30px;
}

.content p {
    color: white;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    text-align: justify;
    line-height: 40px;
    font-size: 20px;
}

.inside {
    color: white;
    padding: 10px;
    padding-left: 100px;
    padding-right: 40px;
    text-align: justify;
    line-height: 40px;
    font-size: 20px;
}

.outside {
    color: white;
    padding: 10px;
    padding-left: 60px;
    padding-right: 40px;
    text-align: justify;
    line-height: 40px;
    font-size: 20px;
}

.end {
    padding-bottom: 300px;
}
.numbertext {
  color: #f2f2f2;
    background-color:rgb(0,0,0,0.2); 
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    background-color: rgb(0,0,0,0.2);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.slide-in {
    animation: slide-in 0.5s forwards;
    -webkit-animation: slide-in 0.5s forwards;
}
@keyframes slide-in {
    100% { transform: translateX(0%); }
}

.slidecon {
    max-width: 1000px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.slides{
    display: flex;
}
.caption{
    background-color: rgb(0,0,0,0.4);
    width: 1000px;
    height: 20px;
    bottom: 0px;
    padding-bottom: 60px;
    position:absolute;
}

.caption h1{
    color:white;
    padding: 0;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    margin: 0;
}

.caption p{
    padding: 0;
    padding: 30px;
    background-color: rgb(40,40,40);
}

.styleimg{
    width: 100%;
    height: 500px;
}
#contacts-personnel h2{
    color: white;
    font-weight: 800;
    padding-bottom: 10px;
    font-size: 20px;
    text-align: center;
}
#contacts-personnel p{
    color: white;
    padding-top: 0;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
}

.background{
    width: 100%;
    height:100%;
    position: absolute;
background-color: #485461;
background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
z-index: -1;
}

.personnel{
    padding-top: 60px;
    padding-bottom: 40px;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(0,0,0,0.4); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(192,2,2,0.4); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
*{
    padding: 0;
    margin: 0;
}
